header{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
header h2{
    color: orange;
}
.header .home{
    color: white;
}
.about{
    color: black;
}
.blog{
    color: black;
}
.contact {
    color: black;
}

/* BANNER */
.banner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 20px;
}
@media screen and (max-width: 575px){
    .banner img{
        margin-top: 10px;
    }
}
/* INTRODUCTION */
.introduction{
    margin-top: 40px;
}
@media screen and (max-width: 575px){
    .introduction{
        margin-top: 20px;
    }
    
}
.introduction .container h2{
    text-align: center;
    color: orange;
    font-size: 40px;
}
@media screen and (max-width: 575px){
    .introduction .container h2{
        font-size: 30px;
    }
}
.introduction .container p{
    text-align: center;
    text-wrap: balance;
}
.introduction__item {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px; 
}

.card__item img {
    width: 100%; 
    height: 12rem;
    object-fit: cover; 
}
.card__title{
    margin-left: 0px;
}
.card__item__text h5{
    color: orange;
}
.card__item__text p{
    color: gray;
    text-wrap: nowrap;
    margin-left: 12px;
}
.btn{
    color: white;
}

@media screen and (max-width: 575px) {
    .introduction__item {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 400px) {
    .introduction__item {
        grid-template-columns: 100%;
        gap: 270px;
    }
}
/* PELLENTESQUE */
.pellentesque{
    margin-top: 300px;
}
.pellentesque-col{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}
.pellentesque-col1 h3{
    color: orange;
}
.pellentesque-col1 p{
    color: gray;
}
.pellentesque-col1-text{
    margin-top: 20px;
}

.pellentesque-col1 img{
    width: 100%;
    height: 50%;
}
.pellentesque-col2-2{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}
.pellentesque-col2-2 .pellentesque-categories h3{
    color: orange;
    margin-bottom: 20px;
}
.pellentesque-categories .categories {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 20px;
}
.pellentesque-col2-2 .pellentesque-useful h3{
    color: orange;
    margin-bottom: 20px;
}
.pellentesque-useful .useful{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 20px;
}
.pellentesque-col3 h3{
    color: orange;
    margin-top: 100px;
}
.pellentesque-col3-title{
    margin-top: 20px;
}
.pellentesque-col1 button{
    background-color: orange;
    color: white;
    border-color: orange;
    margin-bottom: 40px;
}
@media screen and (max-width: 575px){
    .pellentesque{
        margin-top: 240px;
    }
}
@media screen and (max-width: 575px){
    .pellentesque-col{
        grid-template-columns: 100%;
    }
}
@media screen and (max-width: 575px) {
    .pellentesque-col2{
        margin-top: 290px;
    }
}
/* FOOTER */
footer{
    background-color: black;
    margin-top: 50px;
}
.footer{
    display: grid;
    grid-template-columns: 25% 20% 25% 26% ;
    gap: 15px;
}
@media screen and (max-width: 575px){
    .footer{
        grid-template-columns: 100%;
    }
}
.footer_1{
    margin-left: 40px;
}
.footer_2{
    margin-left: 40px;
}
.footer_3_title {
    color: white;
}
hr{
    color: white;
}
.footer_1 h3, .footer_2 h3, .footer_3 h3{
    color: orange;
    font-size: 20px;
    margin-top: 30px;
}
.footer_1-text{
    background-color: gray;
    
}
.footer_1-text-1 h4{
    font-size: 16px;
    font-weight: 700;
}
.footer-2-title{
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
    gap: 15px;
}
.footer-2-title a{
    color: yellow;
}
/* footer_4 */
.footer_4 h3{
    color: orange;
    font-size: 20px;
    margin-top: 30px;
}
.footer_4_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
}
.footer_4_grid {
    gap: 5px; /* Giảm khoảng cách giữa ảnh */
}
.footer_4_text {
    margin-top: -10px; /* Đẩy phần text gần hơn */
}
.footer_4_grid_item1 img,
.footer_4_grid_item2 img,
.footer_4_grid_item3 img,
.footer_4_grid_item4 img,
.footer_4_grid_item5 img,
.footer_4_grid_item6 img
{
    width: 100px;
    height: 100px;
}
.footer_4_grid_item2 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.footer_4_grid_item3 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.footer_4_grid_item4 {
    grid-row-start: 2;
}

.footer_4_grid_item5{
    grid-row-start: 2;
}

.footer_4_grid_item6 {
    grid-row-start: 2;
}

.footer_4_text p{
    color: gray;
    margin-top: -248px
}